.static-product-item-link {
  width: 100%;
}

.static-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  flex-basis: 100%;

  .static-product-item-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .static-product-item-img-container {
      width: 150px;
      height: 150px;
      border-radius: 0.25rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .static-product-item-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .static-product-item-name {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .static-product-item-desc {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .static-product-item-price {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }

  .static-product-item-qty-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;


    .static-product-item-qty {
      font-size: 1.2rem;
      background-color: #f0f0f0;
      padding: 0.6rem 1rem;
      border-radius: 0.25rem;
    }
  }
}