#nav-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 2px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 1rem;
  }

  button {
    background-color: #0044aa;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #003366;
    }
  }

  p {
    text-align: center;
    font-size: 0.75rem;
  }
}