#home-popular-products {
  margin-top: 2rem;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
  
  div {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.75rem;
  }
}