@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

hr {
  margin: 1rem 0;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
}